@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
#hero{
    background-image: url("../assets/Hero-bg.png");
    position: absolute;
    width: 1250px;
    height: 652px;
    left: 0;
    right: 0;
    top: 131px;
    bottom: 4462px;
}
#hero .container{
    display: flex;
    margin: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#hero .container .subtitle{
    margin-bottom: 10px;
    font-size: 50px;
}
#hero .container .btn{
    height: 40px;
    width: 120px;
    color: aliceblue;
    background-color: black;
    padding: 3px;
    margin-top: 70px;
    border-radius: 10px;

}

